
<section class="image_upload_section mt-4">
  <div class="container">
    <h2 class="text-center mb-3">Resize IMAGE</h2>
    <div class="image_upload_box">
      <input type="file"  accept=".jpg,.png,.jpeg" (change)="selectFile($event)" id="image-input">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g><rect fill="none" height="24" width="24"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M7,9l1.41,1.41L11,7.83V16h2V7.83l2.59,2.58L17,9l-5-5L7,9z"/></g></svg>
      <p>Drop your images here or <span>browse.</span></p>
      <label for="image-input">Select Image</label>
    </div>
  </div>

  
  <div class="advertisement_box">
    <div class="row d-flex justify-content-center">
      <mat-slider *ngIf="sizeOfOriginalImage"  thumbLabel [displayWith]="formatLabel" (change)="fileSizeChange($event.value)" [value]="qualityImages" tickInterval="1000" min="1" max="100"></mat-slider>
    </div>
    <div class="row">
      <div class="col-md-6">
          <br><h1> Original: Size: {{sizeOfOriginalImage | number : '1.2-2'}}KB </h1>
          <div class="card-footer">
              <h1 *ngIf="!localUrl" class="text-center"><i>Original Image Preview</i></h1>
              <br><img [src]="localUrl" height="200px">
          </div>
      </div>

      <div class="col-md-6">
          <br><h1>Compressed: Size: {{sizeOFCompressedImage | number : '1.2-2'}}KB </h1>
          <div class="card-footer">
            <h1 *ngIf="!localUrl" class="text-center"><i>Compress Image Preview</i></h1>
              <br> <img [src]="localCompressedURl" height="200px">
          </div>
          <a class="download-class" *ngIf="sizeOFCompressedImage" download="{{fileName}}" href="{{localCompressedURl}}">
            <button class="btn" style="width:100%"><i class="fa fa-download"></i>Download</button>
        </a>
      </div>
  </div>  

      <h3><b>You Online Resize JPG, PNG, SVG or GIF by defining new height and width pixels.
          Change image dimensions in Single. Now You share Your Resize Image Any Where</b></h3>

          <div class="alert alert-success">
            <strong>Secure!</strong> Site Are Full Secure your Resize Image Not Store In Server All Process In Client Side.
          </div>

  </div>

</section>

<footer class="site_footer">
  <div class="container">
    <p class="text-center text-white">2022 © All rights reserved - Image Resizer Online</p>
  </div>
</footer>